table {
    width: 100%;
  }

  h1{
    font-weight: 500;
    display: flex;
    justify-content: center;

  }

  .mat-header-cell{
    font-size: large;
    text-align: center;
    background-color: blueviolet;
    color: white;
}

.mat-cell{
    font-size: initial;
    text-align: center;
    background-color: rgb(240, 221, 255);
    color: black;
}