<p>agregar-productos works!</p>

<div class="main-container">

    <h1>Registrar Producto</h1>


    <label for="name"> Nombre del Producto:</label>

    <input type="text" placeholder="Introduce nombre del producto">



    <label for="price">Precio del Producto:</label>

    <input type="text" placeholder="Introduce precio del producto">



    <label for="Categoria"> Categoria:</label>

    <span>aca va un selector de categorias</span>


    <label for="detalleUno"> Detalle #1:</label>

    <input type="text" placeholder="Introduce detalle del producto">



    <label for="detalleDos"> Detalle #2:</label>

    <input type="text" placeholder="Introduce detalle del producto">



    <label for="detalleTres"> Detalle #3:</label>

    <input type="text" placeholder="Introduce detalle del producto">


    <button class="btn-save"> Guardar </button>


</div>

<app-lista-productos></app-lista-productos>